.searchBAr{
    flex: 1;
    max-width: 500px;
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.searchInput{
    width: 100%;
    padding: 0.5rem 1 rem;
    bottom: 1px solid #ddd;
    border-radius: 20px 0 0 20px;
    outline: none;
}
.cartBadge{
    font-size: 0.75rem;
    font-weight: bold;
}
.imageSection{
    flex: 1;
    max-width: 50%;
    overflow: hidden;
    position: relative;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* <div className="flex-1 max-w-[50%] overflow-hidden relative h-[450px] flex justify-center items-center">
  <!-- content here -->
</div> */

}
.slider{
   display: flex;
   position: relative;
    height: 100%;
    width: 100%;
}
.slide{
    min-width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1s ease;
    position: absolute;
top: 0;
left: 0;
}

.active{
    opacity: 1;
}